[submodule "lib-vs/additions/cpp-tools"]
	path = lib-vs/additions/cpp-tools
	url = https://github.com/S1ink/Cpp-Tools
[submodule "roborio-vs"]
	path = roborio-vs
	url = https://github.com/S1ink/VisionServer-Robot
[submodule "lib-vs/additions/simpleNN"]
	path = lib-vs/additions/simpleNN
	url = https://github.com/S1ink/SimpleNN
