[submodule "references/neon_vision"]
	path = references/neon_vision
	url = https://github.com/JaciBrunning/neon_vision/

[submodule "references/tools"]
	path = references/tools
	url = https://github.com/S1ink/Cpp-Tools/
