html {
	--primary-color: #ff7c0f;
    --primary-dark-color: #a95500;
    --primary-light-color: #de9923;

	--content-maxwidth: auto;
	--side-nav-arrow-opacity: 0.5;
	--side-nav-fixed-width: 350px;

    --fragment-foreground: #6fb4bd;
    --fragment-keyword: #4455ff;
    --fragment-keywordtype: #9639e7;
    --fragment-keywordflow: #9639e7;
    --fragment-token: #14ac01;
    --fragment-comment: #999999;
    --fragment-link: #0fa8ffe8;
    --fragment-preprocessor: #c53094;
}

html.dark-mode {
	--primary-color: #e96d08;
	--primary-dark-color: #ad5700;
	--primary-light-color: #de9923;

    --fragment-foreground: #6fb4bd;
    --fragment-keyword: #4455ff;
    --fragment-keywordtype: #9639e7;
    --fragment-keywordflow: #9639e7;
    --fragment-token: #14ac01;
    --fragment-comment: #999999;
    --fragment-link: #0fa8ffe8;
    --fragment-preprocessor: #c53094;
}

.compoundTemplParams {
    color: var(--primary-color);
    font-size: var(--page-font-size);
    line-height: var(--content-line-height);
}

.github-corner svg {
	fill: var(--primary-color);
	color: var(--page-background-color);
    width: 60px;
    height: 60px;
}

html.dark-mode #variants_image img {
    filter: brightness(87%) hue-rotate(180deg) invert();
}

#projectlogo img {
	width: 100%;
}

#doc-content {
	padding-top: 0px;
}

div.header .summary {
    float: right;
    font-size: var(--code-font-size);
    margin-bottom: var(--spacing-medium);
}
div.header .title {
	top: 0;
	font-size: 250%;
	margin-top: var(--spacing-medium);
}