html {
	--primary-color: #ff7c0f;
    --primary-dark-color: #a95500;
    --primary-light-color: #de9923;

	--content-maxwidth: auto;
	--side-nav-arrow-opacity: 0.5;
	--side-nav-fixed-width: 350px;

	--fragment-background: #F8F9FA;
    --fragment-foreground: #37474F;
    --fragment-keyword: #4455ff;
    --fragment-keywordtype: #9639e7;
    --fragment-keywordflow: #9639e7;
    --fragment-token: #14ac01;
    --fragment-comment: #999999;
    --fragment-link: #0fa8ffe8;
    --fragment-preprocessor: #c53094;
    --fragment-linenumber-color: #797979;
    --fragment-linenumber-background: #f4f4f5;
    --fragment-linenumber-border: #e3e5e7;
}

html.dark-mode {
	--primary-color: #e96d08;
	--primary-dark-color: #ad5700;
	--primary-light-color: #de9923;

	--fragment-background: #282c34;
    --fragment-foreground: #6fb4bd;
    --fragment-keyword: #4455ff;
    --fragment-keywordtype: #9639e7;
    --fragment-keywordflow: #9639e7;
    --fragment-token: #14ac01;
    --fragment-comment: #999999;
    --fragment-link: #0fa8ffe8;
    --fragment-preprocessor: #c53094;
    --fragment-linenumber-color: #cccccc;
    --fragment-linenumber-background: #35393c;
    --fragment-linenumber-border: #1f1f1f;
}

.compoundTemplParams {
    color: var(--primary-color);
    font-size: var(--page-font-size);
    line-height: var(--content-line-height);
}

.github-corner svg {
	fill: var(--primary-light-color);
	color: var(--page-background-color);
}

html.dark-mode #variants_image img {
    filter: brightness(87%) hue-rotate(180deg) invert();
}

#projectlogo img {
	width: 100%;
}